body, html {
    height: 100%;
    background-image: url("../images/livemusic4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#page-heading{
    padding: 25px;
}

h1 {
    color: red;
    font-family: Noto Serif;
    font-size: 3.25rem;
    font-weight: bold;
    text-align: center;
}
h2, #results-heading {
    color: white;
    text-align: center;
}


#clear, #spotify-results, #trends-results, #test {
    background:rgba(0,0,0,0.25);
    color: white;
}

.item {
    color: blue;
}

/* This is some shit. */